---
import { cn } from "@/lib/utils";
import { cva, type VariantProps } from "class-variance-authority";
import { Icon } from '@iconify-icon/react';

export const cardVariants = cva("max-w-80", {
  variants: {
    variant: {
      default: "group",
      accent: "group bg-accent-foreground border-2 border-dashed rounded-lg",
    },
  },
  defaultVariants: {
    variant: "default",
  },
});

interface Props extends VariantProps<typeof cardVariants> {
  icon: string;
  title: string;
  description: string;
  class?: string;
}

const { icon, title, description, variant, class: className }: Props = Astro.props;
---

<div data-feature-card class={cn(cardVariants({ variant }), className)}>
  <div class="flex flex-col justify-between h-full p-5">

    <div
      class="w-14 h-14 rounded-full bg-secondary flex items-center justify-center"
      aria-hidden="true"
    >
      <Icon icon={icon} className='text-foregroudn' width="24" height="24"/>
    </div>

    <div>
      <h3 class="text-xl md:text-2xl font-normal mb-4 font-grotesk">
        {title}
      </h3>
      <p class="text-muted text-base font-sans leading-relaxed">
        {description}
      </p>
    </div>
  </div>
</div>
