---
import ChoseUs from "@/components/sections/home/chose-us/ChoseUs.astro";
import HeroSection from "@/components/sections/home/HeroSection.astro";
import OurService from "@/components/sections/home/our-service/OurService.astro";
import OurProjects from "@/components/sections/home/OurProjects.astro";
import Partners from "@/components/sections/home/Partners.astro";
import Testimonials from "@/components/sections/home/testimonials/Testimonials.astro";
import WorkProcess from "@/components/sections/home/work-process/WorkProcess.astro";
import Cta from "@/components/common/Cta.astro";
import Layout from "@/layouts/Layout.astro";
import { t } from "@/lib/utils";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
const projectsFilter = projects
  .slice(0, 3)
  .sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
  );
---

<Layout title={t("meta.index.title")} description={t("meta.index.description")} keywords={t("meta.index.keywords")}>
  <HeroSection />
  <div class="relative z-10 bg-background-foreground">
    <ChoseUs />
    <OurService />
    <WorkProcess />
    <Partners />
    <OurProjects projects={projectsFilter} />
    <Testimonials />
    <Cta />
  </div>
</Layout>
